/* 
Nombre: [David Ucendo]
Curso: [Asir1]
Fecha: [5/3/2025]
Ejercicio: [5] 
*/

.grid-container {

    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: auto;

}

.grid-item {

    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size: 20px;
}

.item1 {background-color: red;}
.item2 {background-color: blue;}
.item3 {background-color: green;}
.item4 {background-color: orange;}
.item5 {background-color: purple;}
.item6 {background-color: brown;}