
/* 
Nombre: [David Ucendo]
Curso: [Asir1]
Fecha: [5/3/2025]
Ejercicio: [1] 
*/


body { 
    background-color: #b9aaaa;
    font-family: Arial, sans-serif;
}

p {
    color: rgb(255,72,0);
}

h1 {
    margin: 20px;
}

